.pokemon{
    /* background-color: #5e5e5eb2; */
    background-color: #FFCB05;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 15vw;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #3D7DCA
}

.pokemon:hover{
    background-color:#3D7DCA ;
}

.pokemon .pokeBox{
    background-color: #f0f0f0;
    margin: 10px;
    width:  100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000000
}

.pokeBox img{
    height: 100%;
    widows: 100%;
}

.pokemon p{
    margin:0px;
    width: 100px;
    bottom:-5px;
    vertical-align: bottom;
}

.pokemon {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}

.pokeName{
    background-color: red;
}