
.poke-content{
    margin: 50px 0px 50px;
    display: flex;
    justify-content: space-evenly;
    /* padding: 50px 0px 50px 50px; */
    width: 800px;
    background-color:#FFCB05 ;
    border: #3D7DCA solid 5px;
    border-radius: 5px;
    align-items: flex-start;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.poke-display{
    margin-top: 20px;
    width: 200px;
    height:200px;
    background-color: #f0f0f0;
    border: #222224 solid 5px;
    border-radius: 50%;
}

.poke-display img{
    height: 100%;
    height: 100%;
}
.poke-details{
    margin-left: 20px;
    /* background-color: #70787e; */
    flex-grow: 0;
}

.poke-details table{
    text-decoration: none;
    font-size: 20px;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
    width: 500px;
}

.poke-details tr{
    margin-bottom: 10px;
    display: block;
}

.poke-details td:nth-child(1){
    /* background-color: red; */
    padding-left: 3px;
    color:#f00000;
    font-size: larger;
    /* background-color: #D3CAC7; */
    /* border: #D3CAC7 solid 1px ; */
    border-radius: 10px;

}
.poke-details td:nth-child(2){
    color: #222224;
    /* background-color: aliceblue; */
    border-radius: 10px;
    white-space: nowrap;
}

.circle-btn{
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.circle-btn i{
    font-size: 2rem;
    color: #f00000;
}